/** Thin **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('thin/normal/GothamCondensed-Thin.eot');
  src: url('thin/normal/GothamCondensed-Thin.woff2') format('woff2'),
       url('thin/normal/GothamCondensed-Thin.woff') format('woff'),
       url('thin/normal/GothamCondensed-Thin.ttf') format('truetype'),
       url('thin/normal/GothamCondensed-Thin.svg#GothamCondensed-Thin') format('svg'),
       url('thin/normal/GothamCondensed-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('thin/italic/GothamCondensed-ThinItalic.eot');
  src: url('thin/italic/GothamCondensed-ThinItalic.woff2') format('woff2'),
       url('thin/italic/GothamCondensed-ThinItalic.woff') format('woff'),
       url('thin/italic/GothamCondensed-ThinItalic.ttf') format('truetype'),
       url('thin/italic/GothamCondensed-ThinItalic.svg#GothamCondensed-ThinItalic') format('svg'),
       url('thin/italic/GothamCondensed-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

/** XLight **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('xlight/normal/GothamCondensed-XLight.eot');
  src: url('xlight/normal/GothamCondensed-XLight.woff2') format('woff2'),
       url('xlight/normal/GothamCondensed-XLight.woff') format('woff'),
       url('xlight/normal/GothamCondensed-XLight.ttf') format('truetype'),
       url('xlight/normal/GothamCondensed-XLight.svg#GothamCondensed-XLight') format('svg'),
       url('xlight/normal/GothamCondensed-XLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('xlight/italic/GothamCondensed-XLightItalic.eot');
  src: url('xlight/italic/GothamCondensed-XLightItalic.woff2') format('woff2'),
       url('xlight/italic/GothamCondensed-XLightItalic.woff') format('woff'),
       url('xlight/italic/GothamCondensed-XLightItalic.ttf') format('truetype'),
       url('xlight/italic/GothamCondensed-XLightItalic.svg#GothamCondensed-XLightItalic') format('svg'),
       url('xlight/italic/GothamCondensed-XLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

/** Light **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('light/normal/GothamCondensed-Light.eot');
  src: url('light/normal/GothamCondensed-Light.woff2') format('woff2'),
       url('light/normal/GothamCondensed-Light.woff') format('woff'),
       url('light/normal/GothamCondensed-Light.ttf') format('truetype'),
       url('light/normal/GothamCondensed-Light.svg#GothamCondensed-Light') format('svg'),
       url('light/normal/GothamCondensed-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('light/italic/GothamCondensed-LightItalic.eot');
  src: url('light/italic/GothamCondensed-LightItalic.woff2') format('woff2'),
       url('light/italic/GothamCondensed-LightItalic.woff') format('woff'),
       url('light/italic/GothamCondensed-LightItalic.ttf') format('truetype'),
       url('light/italic/GothamCondensed-LightItalic.svg#GothamCondensed-LightItalic') format('svg'),
       url('light/italic/GothamCondensed-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

/** Book **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('book/normal/GothamCondensed-Book.eot');
  src: url('book/normal/GothamCondensed-Book.woff2') format('woff2'),
       url('book/normal/GothamCondensed-Book.woff') format('woff'),
       url('book/normal/GothamCondensed-Book.ttf') format('truetype'),
       url('book/normal/GothamCondensed-Book.svg#GothamCondensed-Book') format('svg'),
       url('book/normal/GothamCondensed-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('book/italic/GothamCondensed-BookItalic.eot');
  src: url('book/italic/GothamCondensed-BookItalic.woff2') format('woff2'),
       url('book/italic/GothamCondensed-BookItalic.woff') format('woff'),
       url('book/italic/GothamCondensed-BookItalic.ttf') format('truetype'),
       url('book/italic/GothamCondensed-BookItalic.svg#GothamCondensed-BookItalic') format('svg'),
       url('book/italic/GothamCondensed-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

/** Medium **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('medium/normal/GothamCondensed-Medium.eot');
  src: url('medium/normal/GothamCondensed-Medium.woff2') format('woff2'),
       url('medium/normal/GothamCondensed-Medium.woff') format('woff'),
       url('medium/normal/GothamCondensed-Medium.ttf') format('truetype'),
       url('medium/normal/GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg'),
       url('medium/normal/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('medium/italic/GothamCondensed-MediumItalic.eot');
  src: url('medium/italic/GothamCondensed-MediumItalic.woff2') format('woff2'),
       url('medium/italic/GothamCondensed-MediumItalic.woff') format('woff'),
       url('medium/italic/GothamCondensed-MediumItalic.ttf') format('truetype'),
       url('medium/italic/GothamCondensed-MediumItalic.svg#GothamCondensed-MediumItalic') format('svg'),
       url('medium/italic/GothamCondensed-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

/** Bold **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('bold/normal/GothamCondensed-Bold.eot');
  src: url('bold/normal/GothamCondensed-Bold.woff2') format('woff2'),
       url('bold/normal/GothamCondensed-Bold.woff') format('woff'),
       url('bold/normal/GothamCondensed-Bold.ttf') format('truetype'),
       url('bold/normal/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg'),
       url('bold/normal/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('bold/italic/GothamCondensed-BoldItalic.eot');
  src: url('bold/italic/GothamCondensed-BoldItalic.woff2') format('woff2'),
       url('bold/italic/GothamCondensed-BoldItalic.woff') format('woff'),
       url('bold/italic/GothamCondensed-BoldItalic.ttf') format('truetype'),
       url('bold/italic/GothamCondensed-BoldItalic.svg#GothamCondensed-BoldItalic') format('svg'),
       url('bold/italic/GothamCondensed-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

/** Black **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('black/normal/GothamCondensed-Black.eot');
  src: url('black/normal/GothamCondensed-Black.woff2') format('woff2'),
       url('black/normal/GothamCondensed-Black.woff') format('woff'),
       url('black/normal/GothamCondensed-Black.ttf') format('truetype'),
       url('black/normal/GothamCondensed-Black.svg#GothamCondensed-Black') format('svg'),
       url('black/normal/GothamCondensed-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('black/italic/GothamCondensed-BlackItalic.eot');
  src: url('black/italic/GothamCondensed-BlackItalic.woff2') format('woff2'),
       url('black/italic/GothamCondensed-BlackItalic.woff') format('woff'),
       url('black/italic/GothamCondensed-BlackItalic.ttf') format('truetype'),
       url('black/italic/GothamCondensed-BlackItalic.svg#GothamCondensed-BlackItalic') format('svg'),
       url('black/italic/GothamCondensed-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

/** XBlack **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('xblack/normal/GothamCondensed-XBlack.eot');
  src: url('xblack/normal/GothamCondensed-XBlack.woff2') format('woff2'),
       url('xblack/normal/GothamCondensed-XBlack.woff') format('woff'),
       url('xblack/normal/GothamCondensed-XBlack.ttf') format('truetype'),
       url('xblack/normal/GothamCondensed-XBlack.svg#GothamCondensed-XBlack') format('svg'),
       url('xblack/normal/GothamCondensed-XBlack.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('xblack/italic/GothamCondensed-XBlackItalic.eot');
  src: url('xblack/italic/GothamCondensed-XBlackItalic.woff2') format('woff2'),
       url('xblack/italic/GothamCondensed-XBlackItalic.woff') format('woff'),
       url('xblack/italic/GothamCondensed-XBlackItalic.ttf') format('truetype'),
       url('xblack/italic/GothamCondensed-XBlackItalic.svg#GothamCondensed-XBlackItalic') format('svg'),
       url('xblack/italic/GothamCondensed-XBlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: italic;
}

/** Ultra **/
@font-face {
  font-family: 'GothamCondensed';
  src: url('ultra/normal/GothamCondensed-Ultra.eot');
  src: url('ultra/normal/GothamCondensed-Ultra.woff2') format('woff2'),
       url('ultra/normal/GothamCondensed-Ultra.woff') format('woff'),
       url('ultra/normal/GothamCondensed-Ultra.ttf') format('truetype'),
       url('ultra/normal/GothamCondensed-Ultra.svg#GothamCondensed-Ultra') format('svg'),
       url('ultra/normal/GothamCondensed-Ultra.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GothamCondensed';
  src: url('ultra/italic/GothamCondensed-UltraItalic.eot');
  src: url('ultra/italic/GothamCondensed-UltraItalic.woff2') format('woff2'),
       url('ultra/italic/GothamCondensed-UltraItalic.woff') format('woff'),
       url('ultra/italic/GothamCondensed-UltraItalic.ttf') format('truetype'),
       url('ultra/italic/GothamCondensed-UltraItalic.svg#GothamCondensed-UltraItalic') format('svg'),
       url('ultra/italic/GothamCondensed-UltraItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}