/** Thin **/
@font-face {
  font-family: 'GothamHTF';
  src: url('thin/normal/GothamHTF-Thin.eot');
  src: url('thin/normal/GothamHTF-Thin.woff2') format('woff2'),
       url('thin/normal/GothamHTF-Thin.woff') format('woff'),
       url('thin/normal/GothamHTF-Thin.ttf') format('truetype'),
       url('thin/normal/GothamHTF-Thin.svg#GothamHTF-Thin') format('svg'),
       url('thin/normal/GothamHTF-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('thin/italic/GothamHTF-ThinItalic.eot');
  src: url('thin/italic/GothamHTF-ThinItalic.woff2') format('woff2'),
       url('thin/italic/GothamHTF-ThinItalic.woff') format('woff'),
       url('thin/italic/GothamHTF-ThinItalic.ttf') format('truetype'),
       url('thin/italic/GothamHTF-ThinItalic.svg#GothamHTF-ThinItalic') format('svg'),
       url('thin/italic/GothamHTF-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

/** XLight **/
@font-face {
  font-family: 'GothamHTF';
  src: url('xlight/normal/GothamHTF-XLight.eot');
  src: url('xlight/normal/GothamHTF-XLight.woff2') format('woff2'),
       url('xlight/normal/GothamHTF-XLight.woff') format('woff'),
       url('xlight/normal/GothamHTF-XLight.ttf') format('truetype'),
       url('xlight/normal/GothamHTF-XLight.svg#GothamHTF-XLight') format('svg'),
       url('xlight/normal/GothamHTF-XLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('xlight/italic/GothamHTF-XLightItalic.eot');
  src: url('xlight/italic/GothamHTF-XLightItalic.woff2') format('woff2'),
       url('xlight/italic/GothamHTF-XLightItalic.woff') format('woff'),
       url('xlight/italic/GothamHTF-XLightItalic.ttf') format('truetype'),
       url('xlight/italic/GothamHTF-XLightItalic.svg#GothamHTF-XLightItalic') format('svg'),
       url('xlight/italic/GothamHTF-XLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

/** Light **/
@font-face {
  font-family: 'GothamHTF';
  src: url('light/normal/GothamHTF-Light.eot');
  src: url('light/normal/GothamHTF-Light.woff2') format('woff2'),
       url('light/normal/GothamHTF-Light.woff') format('woff'),
       url('light/normal/GothamHTF-Light.ttf') format('truetype'),
       url('light/normal/GothamHTF-Light.svg#GothamHTF-Light') format('svg'),
       url('light/normal/GothamHTF-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('light/italic/GothamHTF-LightItalic.eot');
  src: url('light/italic/GothamHTF-LightItalic.woff2') format('woff2'),
       url('light/italic/GothamHTF-LightItalic.woff') format('woff'),
       url('light/italic/GothamHTF-LightItalic.ttf') format('truetype'),
       url('light/italic/GothamHTF-LightItalic.svg#GothamHTF-LightItalic') format('svg'),
       url('light/italic/GothamHTF-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

/** Book **/
@font-face {
  font-family: 'GothamHTF';
  src: url('book/normal/GothamHTF-Book.eot');
  src: url('book/normal/GothamHTF-Book.woff2') format('woff2'),
       url('book/normal/GothamHTF-Book.woff') format('woff'),
       url('book/normal/GothamHTF-Book.ttf') format('truetype'),
       url('book/normal/GothamHTF-Book.svg#GothamHTF-Book') format('svg'),
       url('book/normal/GothamHTF-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('book/italic/GothamHTF-BookItalic.eot');
  src: url('book/italic/GothamHTF-BookItalic.woff2') format('woff2'),
       url('book/italic/GothamHTF-BookItalic.woff') format('woff'),
       url('book/italic/GothamHTF-BookItalic.ttf') format('truetype'),
       url('book/italic/GothamHTF-BookItalic.svg#GothamHTF-BookItalic') format('svg'),
       url('book/italic/GothamHTF-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

/** Medium **/
@font-face {
  font-family: 'GothamHTF';
  src: url('medium/normal/GothamHTF-Medium.eot');
  src: url('medium/normal/GothamHTF-Medium.woff2') format('woff2'),
       url('medium/normal/GothamHTF-Medium.woff') format('woff'),
       url('medium/normal/GothamHTF-Medium.ttf') format('truetype'),
       url('medium/normal/GothamHTF-Medium.svg#GothamHTF-Medium') format('svg'),
       url('medium/normal/GothamHTF-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
/***** No italic *****/

/** Bold **/
@font-face {
  font-family: 'GothamHTF';
  src: url('bold/normal/GothamHTF-Bold.eot');
  src: url('bold/normal/GothamHTF-Bold.woff2') format('woff2'),
       url('bold/normal/GothamHTF-Bold.woff') format('woff'),
       url('bold/normal/GothamHTF-Bold.ttf') format('truetype'),
       url('bold/normal/GothamHTF-Bold.svg#GothamHTF-Bold') format('svg'),
       url('bold/normal/GothamHTF-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('bold/italic/GothamHTF-BoldItalic.eot');
  src: url('bold/italic/GothamHTF-BoldItalic.woff2') format('woff2'),
       url('bold/italic/GothamHTF-BoldItalic.woff') format('woff'),
       url('bold/italic/GothamHTF-BoldItalic.ttf') format('truetype'),
       url('bold/italic/GothamHTF-BoldItalic.svg#GothamHTF-BoldItalic') format('svg'),
       url('bold/italic/GothamHTF-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

/** Black **/
@font-face {
  font-family: 'GothamHTF';
  src: url('black/normal/GothamHTF-Black.eot');
  src: url('black/normal/GothamHTF-Black.woff2') format('woff2'),
       url('black/normal/GothamHTF-Black.woff') format('woff'),
       url('black/normal/GothamHTF-Black.ttf') format('truetype'),
       url('black/normal/GothamHTF-Black.svg#GothamHTF-Black') format('svg'),
       url('black/normal/GothamHTF-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('black/italic/GothamHTF-BlackItalic.eot');
  src: url('black/italic/GothamHTF-BlackItalic.woff2') format('woff2'),
       url('black/italic/GothamHTF-BlackItalic.woff') format('woff'),
       url('black/italic/GothamHTF-BlackItalic.ttf') format('truetype'),
       url('black/italic/GothamHTF-BlackItalic.svg#GothamHTF-BlackItalic') format('svg'),
       url('black/italic/GothamHTF-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

/** Ultra **/
@font-face {
  font-family: 'GothamHTF';
  src: url('ultra/normal/GothamHTF-Ultra.eot');
  src: url('ultra/normal/GothamHTF-Ultra.woff2') format('woff2'),
       url('ultra/normal/GothamHTF-Ultra.woff') format('woff'),
       url('ultra/normal/GothamHTF-Ultra.ttf') format('truetype'),
       url('ultra/normal/GothamHTF-Ultra.svg#GothamHTF-Ultra') format('svg'),
       url('ultra/normal/GothamHTF-Ultra.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'GothamHTF';
  src: url('ultra/italic/GothamHTF-UltraItalic.eot');
  src: url('ultra/italic/GothamHTF-UltraItalic.woff2') format('woff2'),
       url('ultra/italic/GothamHTF-UltraItalic.woff') format('woff'),
       url('ultra/italic/GothamHTF-UltraItalic.ttf') format('truetype'),
       url('ultra/italic/GothamHTF-UltraItalic.svg#GothamHTF-UltraItalic') format('svg'),
       url('ultra/italic/GothamHTF-UltraItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: italic;
}