$clear-icon-path: 'assets/images/clear_x.svg';
@mixin calendar_button--position {
  @include position(absolute, $calendar-date-size null null null);
  padding: 0;
  &:focus {
    border: 2px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 4px #4D90FE;
    box-shadow: 0px 0px 4px #4D90FE;
  }
}

@mixin calendar_text--center {
  text-align: center;
  vertical-align: middle;
}

@mixin calendar_cell--spacing {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin button_close--circle-white {
  @extend %centered-icon;
  @include size(20px);
  @include cross-browser ('display', 'inline-flex');
  display: -ms-inline-flexbox;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 0;
  font-size: 20px/1.25;
  &:after {
    content: ''; // UTF-8 symbol 
    background: url($clear-icon-path) no-repeat;
    background-size: contain;
    @include position(absolute, -1px null null -1px);
    width: 22px;
    height: 22px;
  }
}

@mixin block_filter--blue {
  font-family: $medium-font-family;
  background-color: color("interactive-blue");
  @include cross-browser ('display', 'inline-flex');
  display: -ms-inline-flexbox;
  color: white;
  border: 2px transparent solid;
  vertical-align: middle;
  font-size: $tiny-font-size;
  padding: 10px 60px 10px 20px;
  margin-top: $large-spacing;
}

@mixin datepicker_base--styles {
  input {
    @extend %form-control;
    @include styling(7);
    margin-right: 25px;
    color: $text-light;
    font-family: $base-font-family;
    &:focus,
    &:active {
      border-color: $input-active-border-color;
      color: $text-dark;
    }
    @include media($mobile) {
      height: $button-height;
    }
  }
  label {
    font-size: $extra-tiny-font-size;
    color: $label-color;
    display: block;
    line-height: $label-line-height;
    margin-bottom: $extra-tiny-spacing;
    text-transform: $label-font-style;
    @include media($desktop) {
      font-size: $tiny-font-size;
    }
    &.--inline {
      display: inline-block;
      width: 42%; //margin: 5px 4%;
      @include media($desktop) {
        width: 48%;
      }
    }
    &[for=from] {
      margin-right: 14%;
      @include media($desktop) {
        margin-right: 21px;
      }
    }
  }
  .datepicker-range-calendar-range-inputs {
    padding: 20px 0px 0px;
    @include media($tablet-up) {
      padding: 20px 10px 0px;
    }
    input {
      width: 43%;
      margin: 0;
      @include media($desktop) {
        width: 44%;
        margin-right: 25px;
      }
    }
    #from {
      margin-right: 14%;
      @include media($desktop) {
        margin-right: 49px;
      }
    }
  }
  #singlePickerTrigger {
    font-size: $calendar-date_mobile-size;
    pointer-events: none;
    @include position(relative, 6px 70px null null);
    @include media($desktop) {
      font-size: $calendar-date-size/1.25;
      pointer-events: inherit;
    }
    &:focus {
      border: 2px solid #4D90FE;
      -webkit-box-shadow: 0px 0px 5px #4D90FE;
      box-shadow: 0px 0px 5px #4D90FE;
    }
  }
  .calendar_modal {
    @include size(100% 500px);
    @include position(relative, 10px null null 0);
    display: none;
    padding: 0 $tiny-spacing;
    border: 1px solid $button-disable-color;
    background-color: #fff;
    z-index: 1000;
    cursor: pointer;
    @include media($desktop) {
      @include size(770px 600px);
      padding: 0 25px;
    }
    @include media($tablet) {
      @include size(100% 600px);
      padding: 0 $small-spacing;
    }
    &.--small {
      @include media($desktop) {
        @include size(770px 370px);
        padding: 0 25px;
      }
      @include media($tablet) {
        @include size(100% 370px);
        padding: 0 $small-spacing;
      }
      display: none;
    }
    &.open-no-calendars {
      @include size(780px 240px);
      display: block;
      margin-bottom: 120px;
      .calendars,
      .previous,
      .next {
        display: none;
      }
    }
    &.open-calendars,
    &.open {
      display: none;
    @include media($tablet-up) {
      display: block;
      }
      .calendars,
      .previous,
      .next {
        display: none;
        @include media($tablet-up) {
          display: block;
          background: transparent;
          border: none;
        }
      }
    }
  }
  .calendar_buttons {
    float: none;
    @include size(100% auto);
    margin-top: 36px;
    margin-right: 38px;
    margin-bottom: $tiny-spacing;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include media($tablet-up) {
      float: right;
      @include size( auto);
    }
    .button {
      @include media($mobile) {
        @include size(100% null);
        margin: 5px 0px 10px;
      }
    }
    #calendar-cancel {
      margin-right: 36px;
      @include media($mobile) {
        order: 1;
        flex-grow: 2;
        margin: 5px 0px 10px;
      }
    }
    #calendar-apply {
      @include media($mobile) {
        order: -1;
        flex-grow: 2;
      }
    }
  }
  .calendars {
    float: left;
    margin: 15px 3px;
    color: $text-dark;
    border-collapse: separate;
    border-spacing: 0;
    &:first-child {
      margin-right: 28px;
    }
    tr {
      @include calendar_cell--spacing;
      td {
        @include size(47px 45px);
        @include calendar_cell--spacing;
        @include calendar_text--center;
        font-size: $extra-tiny-font-size;
        @include media($tablet) {
          @include size(32px 43px);
        }
      }
      a {
        display: block;
        line-height: $calendar-date-size;
        color: $text-dark;
      }
      a {
        &.selected {
          background-color: $link-color;
          color: white;
          &.extra {
            background-color: color("pale-blue");
            color: $text-dark;
          }
        }
        &.disabled {
          color: $button-disable-color;
          cursor: default;
        }
        &.grey {
          background: $button-disable-color;
          &.disabled {
            background: transparent;
          }
        }
        &:hover {
          border: 1px solid $link-color;
        }
        &:focus {
          border: 1px solid #4D90FE;
          -webkit-box-shadow: 0px 0px 4px #4D90FE;
          box-shadow: 0px 0px 4px #4D90FE;
        }
      }
    }
    th {
      @include calendar_text--center;
      font-size: $extra-tiny-font-size;
      font-weight: bold;
      &.month {
        @include styling(6);
        height: $calendar-date-size;
        vertical-align: top;
        padding-bottom: 22px;
      }
    }
  }
  .previous {
    @include calendar_button--position;
    left: 35px;
    &.--large-padding {
      top: 128px;
    }
    &.disabled {
      color: $button-disable-color;
    }
  }
  .next {
    @include calendar_button--position;
    right: 61px;
    &.--large-padding {
      top: 128px;
    }
  }
  .reset-close {
    display: none;
    &.show {
      @include button_close--circle-white;
      @include position(relative, 20px 28px null null);
    }
  }
  #dateRangePickerTrigger {
    display: block;
    max-width: 150px;
  }
  .dateRangeResult {
    display: none;
    &.show {
      @include block_filter--blue;
      @include size(auto $calendar-date-size + 5);
      max-width: 300px;
    }
  }
}
