$disabled-calendar-color: color("graphite-dark");
$date-padding-cell: 5px;
$selectable-calendar-color: $link-color;
$calendar-date-size:35px;
$calendar-date_mobile-size:25px;
$button_filter-max-width: 230px;